.App { 
   display: flex;
   justify-content: center;
   margin-top: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.room{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border : solid;
  border-color: #282c34;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.room button{
  background-color: rgb(86, 86, 249);
   width: 100px;
   height: 25px;
   border-radius: 5px;
}

.room label{
    
}

.room input{
  border-radius: 5px;
  height: 25px;
}


.room input{

}

.google_button button {
  background-color: white ;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.auth{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
   align-items: center;
  width: 300px;
  height: 300px;
  background-color:whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.google_button button:hover{
  background-color: gray;
}

.google_button{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  width : 200px;
  height: 35px;
  display: flex;
}

.google_button img{
  position: absolute;
  margin-left: 177px;
  margin-top: 7px;
  background-color: none;
  padding: auto;
  width: 20px;
 

  object-fit: contain;
  z-index: 1;
  
  
  
}
